<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'main_page.css')}}">
		<title>contact_us</title>
	</head>
	<body class="technology">
			<div class="head-container_3">
				<img src="{{url_for('static',filename='img/member_head.jpg')}}" class="contactimg" >
				<div class="header_2">
						<div class="nav_box">
							<img src="{{url_for('static',filename='img/logo.png')}}" class='logo'>
								<ul class="nav">
									<li><a href="main_page.html" class="nav_a_2">官网首页</a></li>
									<li><a href="technology.html" class="nav_a_2">关注业务</a></li>
									<li><a href="register.html" class="nav_a">注册</a></li>
									<li><a href="login.html" class="nav_a">登录</a></li>
								</ul>
						</div>    
				</div>
			</div>
			<div class="contactinfo">
				<div class="info_1">
					<p class="member_info">谢宇杭</p>
					<p>PhoneNumber</p>
					<p>1**********</p>
				</div>
				<div class="info_2">
					<p class="member_info">王涵</p>
					<p>PhoneNumber</p>
					<p>1**********</p>
				</div>
				<div class="info_3">
					<p class="member_info">李彦昊</p>
					<p>PhoneNumber</p>
					<p>1**********</p>
				</div>
				<div class="info_4">
					<p class="member_info">潘希杰</p>
					<p>PhoneNumber</p>
					<p>1**********</p>
				</div>
			</div>
			<div class="tail">
				<img class="tailimg_1" src="{{url_for('static',filename='img/member_footer.jpg')}}">
			</div>
			
	</body>
</html>