<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<meta name="keywords" content="动态车牌识别">
		<meta name="description" content="四元一次方程组">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'main_page.css')}}">
		<title>licenseplate-recognition</title>
	</head>
	<body class="main_page">
		<div class="head-container">
			<img src="{{url_for('static',filename='img/pexels-pixabay-247676.jpg')}}" class="himg" >
			<div class="header">
				<div class="nav_box">
					<img src="{{url_for('static',filename='img/logo.png')}}" class='logo'>
							<ul class="nav">
								<li><a href="main_page.html" class="nav_a">官网首页</a></li>
								<li><a href="technology.html" class="nav_a">关注业务</a></li>
								<li><a href="register.html" class="nav_a">注册</a></li>
								<li><a href="login.html" class="nav_a">登录</a></li>
							</ul>
				</div>
			</div>
			<div class="headerline">
			</div>	
			<span class="name">四元一次方程组</span>
		</div>
		<div class="bodypart">
			<div class="left">
				<div class="leftpart">
					<a href="technology.html">四元一次方程组|产品介绍</a>
				</div>
				<div class="concat">
						<a href="contactus.html">联系我们</a>
				</div>
			</div>
			<div class="right">
				<div class="rightpart">
					<a href="member.html">四元一次方程组|成员介绍</a>
				</div>
				
				<div class="usingpart">
					<a href="choose.html">开始使用</a>
				</div>
			</div>
		</div>
		<div class="tailpart">
			<div class="list">
				<ul class="info_list">
					<li class="nav_b">四元一次方程组</li>
					<li class="nav_b">总部电话：178********</li>
					<li class="nav_b">总部地址：南开大学泰达学院</li>
					<li class="nav_b">总部邮箱：28*********</li>
				</ul>
			</div>
			<div class="barcode">
				<span class="consult">
					总部咨询热线
				</span>
				<div class="code1"> <img src={{url_for('static',filename="img/erweima.png")}} class="erweima"></div>
			</div>
		</div>
	</body>
</html>