<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'main_page.css')}}">
		<title>member-intro</title>
	</head>
	<body class="member">
		<div class="head-container_2">
			<img src="{{url_for('static',filename='img/微信图片编辑_20220819221256.jpg')}}" class="memimg" >
			<div class="header_1">
					<div class="nav_box">
						<img src="{{url_for('static',filename='img/logo.png')}}" class='logo'>
							<ul class="nav">
								<li><a href="main_page.html" class="nav_a_1">官网首页</a></li>
								<li><a href="technology.html" class="nav_a_1">关注业务</a></li>
								<li><a href="register.html" class="nav_a">注册</a></li>
								<li><a href="login.html" class="nav_a">登录</a></li>
							</ul>
					</div>
			</div>

		</div>
		<div class="memberinfo">
			<img class="img" src="{{url_for('static',filename='img/微信图片编辑_20220819222850.jpg')}}">
			<div class="member1">
				<p class="member_info">谢宇杭</p>
				<p>女，南开大学软件学院2020级在读本科生。熟悉C++、JAVA、Python、MySQL、HTML语言，有QT、JAVA、网页、MySQL开发经历。掌握机器学习基本理论以及各种预处理方法。</p>
			</div>
			<div class="member2">
				<p class="member_info">王涵</p>
				<p>女，南开大学软件学院2020级在读本科生。熟悉C++、JAVA、Python、MySQL、HTML语言，有QT、JAVA、网页、MySQL开发经历。了解机器学习基本理论与算法以及主流机器学习框架TensorFlow。</p>
			</div>
			<img class="img" src="{{url_for('static',filename='img/微信图片编辑_20220819222756.jpg')}}">
		</div>
		<div class="memberinfo_2">
			<img class="img" src="{{url_for('static',filename='img/微信图片编辑_20220819222817.jpg')}}">
			<div class="member3">
				<p class="member_info">李彦昊</p>
				<p>男，南开大学软件学院2020级在读本科生。熟悉C++、JAVA、Python、MySQL、HTML语言，有QT、JAVA、网页、MySQL开发经历。掌握机器学习基本理论与算法，了解主流机器学习框架TensorFlow。</p>
			</div>
			<div class="member4">
				<p class="member_info">潘希杰</p>
				<p>男，南开大学软件学院2020级在读本科生。对C++，Python，JAVA，数据库，机器学习等相关知识有所掌握。</p>
			</div>
			<img class="img" src="{{url_for('static',filename='img/微信图片编辑_20220819222836.jpg')}}">
		</div>
		<div class="tail">
			<img class="tailimg" src="{{url_for('static',filename='img/VCG211296654687.jpg')}}">
		</div>
	</body>
</html>